.main {
    display: flex;
    flex-direction: row;
}

.game-board {
    background-color: black;
    width: 100%;
    height: 75vh;
    display: grid;
    grid-row: 1fr 1fr 1fr;
    grid-column: 1fr 1fr 1fr;
    grid-template-areas: 
    "box1 box2 box3"
    "box4 box5 box6"
    "box7 box8 box9";
}

.game-stats {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    width: 100%;
    height: 75vh;
    /* margin: 50px 50px 0 50px; */
}

.game-stats button {
    height: 50px;
    width: 300px;
}

.game-stats span {
    color: black;
    font-size: 3em;
}

#box1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#box2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#box4 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#box5 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#box6 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#box7 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#box8 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#box9 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.game-board button {
    height: 90%;
    width: 90%;
    padding: 10px;
    font-size: 2.5em;
}